# Análisis de datos y manipulación
pandas
numpy

# Visualización (/notebooks/eda.ipynb)
matplotlib
seaborn

# Machine Learning y Preprocesamiento -> train
scikit-learn
joblib

# a futuro
# Calidad y Testing
# pytest==7.4.0
# fastapi
# uvicorn